<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- jQuery 사용 -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" href="/public/main.css">
  <title>Document</title>
</head>
<body>
  
  <%- include('nav.html') %>

  <h4 class="ml-2 my-3 text-center">Just do it</h4>

  <div class="container input-group mb-2">
    <input class="form-control" id="search-input">
    <button class="input-group-append btn btn-danger" id="search">검색</button>
  </div>
  
  <script>
    $('#search').click(function(){
      var 입력한값 = $('#search-input').val();
      window.location.replace('/search?value=' + 입력한값)
    });
  
  </script>



  <div class="container">
    <ul class="list-group">
      <% for (var i= 0; i< posts.length; i++){ %>
      <li class="list-group-item">
        <h4>계획 : <%= posts[i].제목 %></h4>
        <p>마감일 : <%= posts[i].날짜 %></p>
        <button class="btn btn-danger delete" data-id="<%= posts[i]._id %>">삭제</button>
        <button class="btn btn-danger update" data-id="<%= posts[i]._id %>">수정</button>
      </li>
      <% } %>
    </ul>
 </div>



  <!-- 새로고침없이, 서버랑 통신할 수 있게 AJAX 사용 -->
  <script>

    $('.delete').click(function(e){ //클릭할때마다 ajax요청
      var 글번호 = e.target.dataset.id //현재 내가 누른 e.target의 dataset.id를 가져옴
      var 지금누른거 = $(this); //지금 이벤트가 동작하는 곳, 보통은 위의 e.target 비슷함

      $.ajax({
        method : 'DELETE',
        url : '/delete',
        data : {_id : 글번호}
      }).done(function(결과){
        //server.js에서 200을 응답해 ajax요청이 성공하면, <li>요소를 안보이게 제거해주기
        지금누른거.parent('li').fadeOut(); //지금누른거의 부모중 li를 서서히 사라지게함
        
      }).fail(function(xhr, textStatus, errorThrown){ //server.js에서 400이나 500을 응답해 실패시, 실행
        console.log(xhr, textStatus, errorThrown);
      })
    });

  </script>

  
 
  
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>